		flex-direction: column;
	--framerate-dropped-color: rgb(255,42,25);
	--framerate-mispresented-color: rgb(178,113,0);
	--framerate-presented-color: rgb(102,137,174); /*rgb(181,204,20);*/
	--framerate-presented-dirty-color: rgb(255,161,0);
	--log-color-vrclient-steam: rgb(204, 204, 204);
	--log-color-vrclient-vrcompositor: rgb(255, 188, 218);
	--log-color-vrclient-vrdashboard: rgb(255, 218, 188);
	--log-color-vrclient-vrmonitor: rgb(255, 240, 188);
	--log-color-vrclient-vrwebhelper: rgb(204, 204, 204);
	--log-color-vrcompositor: rgb(188, 248, 255);
	--log-color-vrdashboard: rgb(228, 188, 255);
	--log-color-vrmonitor: rgb(188, 255, 214);
	--log-color-vrserver: rgb(188, 199, 255);
	--roomview-border-color: rgb(102,137,174);
	--roomview-border-width: .7rem;
	--roomview-update-rate: 300ms;
	.FlexRow.ResponsiveColumn {
	/*border: 0.05em solid var(--framerate-presented-color);*/
	align-self: auto;
	align-self: flex-end;
	background-color: green;
	background-color: red;
	border-left: 0.05em solid var(--disabledtext);
	border-left: none;
	border-radius: 0.2rem;
	color: #fff;
	color: var(--bindinglistheaders);
	color: var(--descriptiontext);
	color: var(--disabledtext);
	color: var(--framerate-mispresented-color);
	color: var(--framerate-presented-color);
	color: var(--log-color-vrclient-steam);
	color: var(--log-color-vrclient-vrcompositor);
	color: var(--log-color-vrclient-vrdashboard);
	color: var(--log-color-vrclient-vrmonitor);
	color: var(--log-color-vrclient-vrwebhelper);
	color: var(--log-color-vrcompositor);
	color: var(--log-color-vrdashboard);
	color: var(--log-color-vrmonitor);
	color: var(--log-color-vrserver);
	color: var(--text-color);
	display: flex;
	display: inline-block;
	flex-direction: column;
	flex-direction: row;
	flex-shrink: 0;
	flex: 1 1;
	font-size: 0.7em;
	font-size: 0.7rem;
	font-size: 0.8rem;
	font-size: 1.5rem;
	font-size: 2rem;
	height: 0.3rem;
	height: 100%;
	height: 15px;
	height: 1rem;
	height: 2em;
	height: auto;
	height: calc(100% - 15rem);
	justify-content: center;
	left: 0;
	left: 50%;
	left: auto;
	margin-left: 3rem;
	margin-right: 0.3rem;
	margin-right: 0.5rem;
	margin-top: 0.2rem;
	margin-top: 0.4rem;
	margin: 0.2rem 0 0.2rem 0.5rem;
	margin: 0.2rem 0 0.2rem 1rem;
	margin: 0.5em;
	margin: 1em
	max-height: 2.5rem;
	max-height: 80vh;
	max-width: 2.5rem;
	overflow-y: scroll;
	padding-left: 0.4em;
	padding: 0 1rem;
	padding: 0.5em;
	padding: 1rem;
	padding: 2em;
	position: absolute;
	position: fixed;
	position: relative;
	right: 0;
	stroke-linecap: round;
	stroke-width: var(--roomview-border-width);
	stroke: var(--bindinglistcurrentsectionborder);
	stroke: var(--framerate-dropped-color);
	stroke: var(--framerate-mispresented-color);
	stroke: var(--framerate-presented-color);
	stroke: var(--framerate-presented-dirty-color);
	stroke: var(--roomview-border-color);
	text-align: center;
	text-align: right;
	text-transform: uppercase;
	top: 0;
	transform: translate3d(-50%, -50%, 0);
	user-select: text;
	width: 100%;
	width: 11em;
	width: 16em;
	width: 1rem;
	width: 2.5rem;
	word-break: break-all;
    bottom: 0;
    left: 0;
    right: 0;
 color: inherit;
#root
.AllCaps
.ConsoleContainer {
.ConsoleOptions > div {
.DevFiles a, .DevFiles a:visited, .DevFiles a:active {
.DevFiles {
.DeviceStatusRow .Actions > div {
.DeviceStatusRow .Actions {
.DeviceStatusRow .BatteryIcon img {
.DeviceStatusRow .BatteryIcon {
.DeviceStatusRow .StateIcon img {
.DeviceStatusRow .StateIcon {
.DeviceStatusRow .Status {
.DeviceStatusRow {
.DeviceStatusRow.Disconnected .Label {
.FlexFullWidthRowCentered
.FrameDroppedLine {
.FrameGraph .Frame {
.FrameGraph .Frame.Missed {
.FrameGraph {
.FrameMispresentedLine {
.FramePresentedLine {
.FramePresentedLine.Dirty {
.FramerateWidget {
.FramerateWidgetContainer .FrameRateLabels .sec30 {
.FramerateWidgetContainer .FrameRateLabels .sec60 {
.FramerateWidgetContainer .FrameRateLabels .secnow {
.FramerateWidgetContainer .FrameRateLabels > div {
.FramerateWidgetContainer .FrameRateLabels {
.FramerateWidgetContainer {
.FullPage
.FullWidth
.Label.Description
.Label.FramerateGood {
.Label.FramerateMissed {
.Label.SubLabel {
.Label.Title
.LogLine {
.LogLine.vrclient_Steam {
.LogLine.vrclient_vrcompositor {
.LogLine.vrclient_vrdashboard {
.LogLine.vrclient_vrmonitor {
.LogLine.vrclient_vrwebhelper {
.LogLine.vrcompositor {
.LogLine.vrdashboard {
.LogLine.vrmonitor {
.LogLine.vrserver {
.LogSource {
.LogTime {
.ModalHeader
.NotificationRow .NotificationDescription {
.NotificationRow .NotificationTimestamp {
.NotificationRow {
.QuickLink {
.RoomOverview .ChaperoneBoundary {
.RoomOverview .DirectionLine {
.RoomOverview {
.RoomOverviewContainer > .ImageCenterer > img {
.RoomOverviewContainer > .ImageCenterer {
.RoomOverviewContainer {
.StatusItem {
.SystemStateRow  {
.SystemStateRow .StateIcon img {
.SystemStateRow .StateIcon {
.SystemStateRow.Disconnected {
.USBChild {
.USBTopologyContainer {
/* Responsive */
:root
@media screen and ( max-width: 660px )
