	 border-color: var( --color_seperator );
	--color_background: #262626;
	--color_button_background: rgb( 60, 60, 60 );
	--color_command_link: #6ea9d7;
	--color_command_link_hover: #8ad4ff;
	--color_flyout_cursor: #4C4C4C;
	--color_header_link: #CCCCCC;
	--color_header_link_active: #888888;
	--color_header_link_hover: #FFFFFF;
	--color_messagebox_text: var( --color_text_primary );
	--color_messagebox_title: var( --color_text_primary );
	--color_overlay: rgba( 38, 38, 38, 0.9 );
	--color_seperator: #636363;
	--color_text_active: #9DC112;
	--color_text_attention: #E6BE42;
	--color_text_inactive: #777777;
	--color_text_primary: #CCCCCC;
	--color_text_secondary: #888888;
	--color_text_warning: #D94453;
	--gradient_dialog: linear-gradient( to bottom, rgb( 28, 36, 41 ), rgb( 25, 25, 25 ) );
	-webkit-align-content: center;
	-webkit-align-items: center;
	-webkit-appearance: none;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-webkit-justify-content: flex-start;
	-webkit-justify-content: space-between;
	align-content: center;
	align-items: center;
	background-color: var( --color_background );
	background-color: var( --color_button_background );
	background-color: var( --color_flyout_cursor );
	background-image: url( "/shared/images/triangle_down.png" );
	background-repeat: no-repeat;
	border-color: rgba( 0, 0, 0, 0 );
	border-color: var( --color_command_link_hover );
	border-color: var( --color_command_link_hover );	
	border-color: var( --color_seperator );
	border-style: solid;
	border-width: 1px;
	border-width: 2px;
	border: 1px solid #FFFFFF;
	border: 1px solid var( --color_button_background );
	border: 1px solid var( --color_command_link_hover );
	border: 1px solid var( --color_text_inactive );
	bottom: 0px;
	color: var( --color_command_link );
	color: var( --color_header_link );
	color: var( --color_header_link_active );
	color: var( --color_messagebox_text );
	color: var( --color_text_inactive );
	color: var( --color_text_primary );
	content: '\2714';
	cursor: pointer;
	display: -webkit-flex;
	display: flex;
	display: inline-block;
	flex-direction: row;
	flex-wrap: nowrap;
	font-family: "Arial";
	font-size: 13px;
	font-size: 15px;
	font-size: 16px;
	font-size: 18px;
	height: 100%;
	height: 25px;
	height: 80px;
	justify-content: flex-start;
	justify-content: space-between;
	left: 2px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-left: 5px;
	margin-right: 10px;
	margin-right: 15px;
	margin-top: 5px;
	margin: 20px 20px 0px 20px;
	margin: 5px 0px;
	min-width: 125px;
	opacity: 0.3;
	opacity: 1.0;
	outline: none;
	padding: 0px 10px;
	padding: 4px;
	padding: 5px 15px;
	padding: 5px 20px;
	padding: 6px;
	padding: 7px;
	position: absolute;
	position: fixed;
	position: relative;
	right: -1px;
	text-align: left;
	text-align: right;
	text-decoration: none;
	text-decoration: underline;
	top: -2px;
	top: 100%;
	top: 1px;
	vertical-align: 5px;
	vertical-align: 6px;
	visibility: hidden;
	width: 100%;
	width: 250px;
	width: 25px;
	width: 400px;
	z-index: 1;
    color: var( --color_command_link_hover );
    color: var( --color_header_link_hover );
    color: var( --color_text_primary );
.close_window_icon
.close_window_icon:hover
.command_link
.command_link:hover 
.core_button 
.core_button:active
.core_button:focus 
.core_button:hover
.core_checkbox 
.core_checkbox:active, .core_checkbox:checked:active
.core_checkbox:checked
.core_checkbox:checked:after
.core_checkbox:checked:disabled:after
.core_checkbox:disabled
.core_checkbox:disabled + .core_checkbox_label
.core_checkbox:hover
.core_checkbox_label
.core_dropdown
.core_dropdown:hover
.core_slider_label
.core_slider_range_label
.core_slider_value_label
.flyout_grip
.flyout_grip.enabled
.flyout_grip.enabled:hover, .flyout_grip.open
.flyout_grip_icon
.flyout_menu
.flyout_menu div
.flyout_menu div:hover
.footer
.footer_row
.footer_time
.footer_version
.header_identity
.header_row
.section_header_row_layout
.section_icon
.section_separator
.section_title
/* (c) Valve Corporation. Use is governed by the terms of the Steam Subscriber Agreement http://store.steampowered.com/subscriber_agreement/. */
/* ================================================================================================== */
a.header_link
a.header_link.active_link
a.header_link:hover 
