		opacity: 0;
		opacity: 1;
		transform: rotateZ( 0deg );
		transform: rotateZ( 120deg );
		transform: rotateZ( 240deg );
	//background-color: #333333ff;
	//background-color: #333333ff;	
	//background-color: #555555ff;
	//background-color: #ffffff12;
	//background-color: blue;
	//background-color: button_gradient;
	//background-color: button_gradient_hover;
	//background-color: gradient( linear, 0% 0%, 100% 100%, from( #2f668255 ), to( #142d3a22 ) );
	//background-color: gradient( linear, 0% 0%, 75% 75%, from( #000000ff ), to( #00000000 ) );
	//background-color: green;
	//background-color: red;
	//border-radius: 50%;
	//border: 10px solid #111111ff;
	//border: 2px solid #555555ff;
	//border: 2px solid #ffffffff;
	//box-shadow: #111111ff -3px 0px 50px 0px;
	//box-shadow: #ffffff00 0px 0px 20px 0px;
	//box-shadow: #ffffff11 0px 0px 20px 0px;
	//box-shadow: #ffffff11 0px 0px 8px 0px;
	//color: #000000aa;
	//color: #000000aa;	
	//color: #ffffff88;
	//color: black;
	//flow-children: down;
	//flow-children: right-wrap;
	//font-weight: bold;
	//font-weight: bold;	
	//height: 100%;
	//height: 1030px;
	//height: 1540px;
	//height: 230px;
	//height: 250px;
	//height: 292px;
	//height: 655px;
	//horizontal-align: right;
	//margin-bottom: 50px;
	//margin-left: 10px;
	//margin-left: 1850px;
	//margin-left: 2150px;
	//margin-left: 350px;
	//margin-left: 350px;	
	//margin-left: 40px;
	//margin-left: 450px;
	//margin-left: 660px;
	//margin-left: 860px;
	//margin-right: 200px;
	//margin-right: 50px;
	//margin-right: 70px;
	//margin-top: 10px;
	//margin-top: 130px;
	//margin-top: 200px;
	//margin-top: 210px;
	//margin-top: 270px;
	//margin-top: 510px;
	//margin-top: 510px;	
	//margin-top: 55px;
	//margin-top: 80px;
	//margin: 10px;
	//margin: 20px;
	//opacity: .5;
	//pre-transform-rotate2d: 45deg;
	//text-align: center;
	//transform: rotateZ( 45deg );
	//transition-duration: 0.23s;
	//transition-property: pre-transform-rotate2d, opacity;
	//transition-property: wash-color;
	//transition-timing-function: bigpicture-ease-in-out;	
	//vertical-align: center;
	//wash-color: none;
	//width: 100%;
	//width: 1000px;
	//width: 230px;
	//width: 2340px;
	//width: 2480px;
	//width: 250px;
	//width: 2550px;
	//width: 292px;
	//width: 300px;
	100%
	animation-duration: 0.5s;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-iteration-count: infinite;
	animation-name: loading-spinner;
	animation-name: screenshot-in;
	animation-name: screenshot-out;
	animation-timing-function: linear;
	background-color: #111111ee;
	background-color: #111111fa;
	background-color: #111111ff;
	background-color: #111111ff;	
	background-color: #222222aa;	
	background-color: #222222ff;
	background-color: #318bb902;
	background-color: #318bb904;
	background-color: #318bb907;
	background-color: #318bb910;
	background-color: #318bb915;
	background-color: #318bb920;
	background-color: #318bb925;
	background-color: #318bb930;
	background-color: #33333350;
	background-color: #333333ff;
	background-color: #444444ff;
	background-color: #55555511;
	background-color: #555555ff;
	background-color: #96c62e02;
	background-color: #96c62e04;
	background-color: #96c62e07;
	background-color: #96c62e10;
	background-color: #96c62e15;
	background-color: #96c62e20;
	background-color: #96c62e25;
	background-color: #96c62e30;
	background-color: #ad454302;
	background-color: #ad454304;
	background-color: #ad454307;
	background-color: #ad454310;
	background-color: #ad454315;
	background-color: #ad454320;
	background-color: #ad454325;
	background-color: #ad454330;
	background-color: #b7000055;
	background-color: #ffffff02;
	background-color: #ffffff10;
	background-color: black;
	background-color: black_gradient;
	background-color: button_gradient_bright;
	background-color: button_gradient_hover;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( blue ), to( #142d3a55 ) );
	background-color: gradient( linear, 0% 0%, 100% 100%, from( white ), to( blue ) );
	background-color: red;
	border-radius: 10px;
	border-radius: 2px;
	border-radius: 5px;
	border: 10px solid #111111ff;
	border: 1px solid #ffffff00;
	border: 1px solid white;
	border: 2px solid #ffffff00;	
	border: 2px solid #ffffff08;
	border: 2px solid #ffffff10;
	border: 2px solid #ffffff77;
	border: 2px solid #ffffff88;
	border: 3px solid #ffffff05;
	border: 3px solid #ffffff08;
	border: 3px solid #ffffffaa;
	border: 4px solid #ffffff11;
	border: 5px solid #555555ff;
	box-shadow: none;
	color: #333333ff;
	color: #54b5e7;
	color: #e86260;
	color: #ffffff15;
	color: #ffffff20;
	color: #ffffff66;
	color: #ffffff88;
	color: #ffffff99;
	color: #ffffff;
	color: green;
	color: white;
	flow-children: down;
	flow-children: down;	
	flow-children: none;
	flow-children: none;	
	flow-children: right-wrap;
	flow-children: right;
	flow-children: right;	
	font-size: 100px;
	font-size: 120px;
	font-size: 30px;
	font-size: 38px;
	font-size: 45px;
	font-size: 50px;
	font-size: 55px;
	font-size: 65px;
	font-size: 70px;
	font-weight: bold;
	font-weight: bold;	
	height: 100%;
	height: 1000px;
	height: 100px;
	height: 1100px;
	height: 120px;
	height: 1300px;
	height: 130px;
	height: 1450px;
	height: 1500px;
	height: 1515px;
	height: 160px;
	height: 170px;
	height: 172px;
	height: 190px;
	height: 200px;
	height: 20px;
	height: 230px;
	height: 250px;
	height: 290px;
	height: 325px;
	height: 4px;
	height: 500px;
	height: 50px;
	height: 512px;
	height: 55px;
	height: 65%;
	height: 692px;
	height: 702px;
	height: 70px;
	height: 80px;
	height: 850px;
	height: fit-children;
	horizontal-align: center;
	horizontal-align: left;
	horizontal-align: right;
	margin-bottom: 100px;
	margin-bottom: 12px;
	margin-bottom: 150px;
	margin-bottom: 15px;
	margin-bottom: 170px;
	margin-bottom: 20px;
	margin-bottom: 290px;
	margin-bottom: 300px;
	margin-bottom: 40px;
	margin-left: 1040px;
	margin-left: 10px;
	margin-left: 1253px;
	margin-left: 15px;
	margin-left: 1700px;
	margin-left: 1720px;
	margin-left: 1850px;
	margin-left: 2092px;
	margin-left: 20px;
	margin-left: 25px;
	margin-left: 30px;
	margin-left: 400px;
	margin-left: 40px;
	margin-left: 420px;
	margin-left: 450px;
	margin-left: 450px;	
	margin-left: 50px;
	margin-left: 5px;
	margin-left: 705px;
	margin-left: 80px;
	margin-left: 860px;
	margin-right: 15px;
	margin-right: 50px;
	margin-top: 0px;
	margin-top: 100px;
	margin-top: 10px;
	margin-top: 115px;
	margin-top: 140px;
	margin-top: 14px;
	margin-top: 15px;
	margin-top: 160px;
	margin-top: 165px;
	margin-top: 190px;
	margin-top: 20px;
	margin-top: 210px;
	margin-top: 230px;
	margin-top: 24px;
	margin-top: 250px;
	margin-top: 30px;
	margin-top: 35px;
	margin-top: 50px;
	margin-top: 52px;
	margin-top: 55px;
	margin-top: 5px;
	margin-top: 60px;
	margin-top: 60px;	
	margin-top: 80px;
	margin-top: 850px;
	margin: 0px 50px 0px 40px;
	margin: 0px;
	margin: 11px;
	margin: 2px 0px 0px 0px;
	margin: 300px 70px 70px 70px;
	margin: 50px 30px 25px 40px;
	margin: 6px;
	margin: 70px 300px 70px 300px;
	opacity: .7;
	opacity: .95;
	opacity: 0.6;
	opacity: 0;
	opacity: 1;
	overflow: clip;
	padding-left: 7px;
	pre-transform-scale2d: .95;
	pre-transform-scale2d: .98;
	pre-transform-scale2d: 1;
	text-align: center;
	transition-duration: .2s;
	transition-duration: 0.23s;
	transition-duration: shortduration;
	transition-property: background-color, border, pre-transform-scale2d;
	transition-property: background-color, border, wash-color;
	transition-property: background-color, border;
	transition-property: background-color;
	transition-property: border, box-shadow;
	transition-property: color;
	transition-property: opacity, box-shadow, pre-transform-scale2d;
	transition-property: opacity;
	transition-property: wash-color, opacity;
	transition-timing-function: bigpicture-ease-in-out;	
	transition-timing-function: bigpicture-ease-in-out;		
	vertical-align: bottom;
	vertical-align: center;
	vertical-align: top;
	visibility: collapse;
	visibility: visible;
	wash-color: #2f6682aa;
	wash-color: green;
	wash-color: rgba( 0, 0, 0, 0.99 );
	width: 100%;
	width: 100%; 
	width: 1000px;
	width: 100px;
	width: 1060px;
	width: 1141px;
	width: 120px;
	width: 1250px;
	width: 130px;
	width: 1367px;
	width: 1500px;
	width: 160px;
	width: 1700px;
	width: 170px;
	width: 1750px;
	width: 1800px;
	width: 200px;
	width: 2020px;
	width: 2100px;
	width: 2400px;
	width: 2500px;
	width: 2756px;
	width: 290px;
	width: 2970px;
	width: 325px;
	width: 361px;
	width: 390px;
	width: 490px;
	width: 50px;
	width: 512px;
	width: 550px;
	width: 55px;
	width: 5px;
	width: 600px;
	width: 65%;
	width: 650px;
	width: 750px;
	width: 780px;
	width: 788px;
	width: 800px;
	width: 80px;
	width: 85%;
	width: fit-children;
     ANIMATIONS 
     HIDE UGC STATE
    flow-children: down;
    margin-left: 30px;
    margin-right: 30px;
   First time players get the Welcome message asking them to open the menu
   WELCOME STATE
#CommunityContentContainer
#CommunityContentContainer,
#CommunityHomeContainer 
#CommunityHomeWrapper
#CommunityHomeWrapper.HasData .ScreenshotStats
#CommunityHomeWrapper.HasData .SteamStats
#CommunityHomeWrapper.HasData .SteamVRNow
#EnvironmentsContainer
#EnvironmentsContainer,
#LaunchAppButton
#LaunchAppButton Label
#LaunchAppButton:hover
#PowerOff,
#PowerOn
#PowerOn .PowerIcon
#PowerOn:hover,
#PowerOnText
#RightIcon
#RightSpinner
#SubscribeButton
#VisitButton
------------------*/
---------------------*/
.AnnouncementBody
.AnnouncementDesc
.AnnouncementDialog
.AnnouncementDialogOn .AnnouncementWrapper
.AnnouncementWrapper
.AppConfirm .BlackOut
.AppConfirm .ConfirmationPanel
.BlackBack
.BlackOut
.BlackOut,
.CanLaunchApp .LaunchButton
.CanLaunchApp .LaunchButtonDisabled,
.CanLaunchApp .StoreButton
.CloseDialogButton
.CloseDialogButton:active
.CloseDialogButton:hover
.CloseDialogButtonImage
.Column1 .Row1
.Column1 .Row2
.Column1 .Row3
.Column1 .Row4
.Column1 .Row5
.Column1 .Row6
.Column1 .Row7
.Column1 .Row8
.Column1,
.Column2 .Row1
.Column2 .Row2
.Column2 .Row3
.Column2 .Row4
.Column2 .Row5
.Column2 .Row6
.Column2 .Row7
.Column2 .Row8
.Column2,
.Column3
.Column3 .Row1
.Column3 .Row2
.Column3 .Row3
.Column3 .Row4
.Column3 .Row5
.Column3 .Row6
.Column3 .Row7
.Column3 .Row8
.CommunityHomeWrapper
.CommunityHomeWrapper.ViewingCommunityItemDetail
.ConfirmationButtons
.ConfirmationPanel
.ConfirmationPanel Button
.ConfirmationPanel Button Label
.ConfirmationPanel Button:hover,
.ConfirmationPanel,
.CurrentlyPlayedTab
.CurrentlyPlayedTab:hover,
.DefaultLaunchAppImage,
.DetailsButton
.DetailsButton,
.DialogDesc
.DialogPromoImage
.DialogPromoImages
.DialogTitle
.DialogTitleBar
.Divider
.DownloadingLabel
.EnvironmentImage
.EnvironmentItem
.EnvironmentItem .SubscribedCheck
.EnvironmentItem.Subscribed .SubscribedCheck
.EnvironmentItem:hover,
.EnvironmentsTab,
.EnvironmentsTab:hover,
.FadingIn .ScreenshotThumb
.FadingOut .ScreenshotThumb
.FreeAppLabel
.FreeAppPanel
.GamepadController #PowerOn,
.GamepadController #PowerOn:focus
.GamepadController .AppConfirm .ConfirmationPanel
.GamepadController .CommunityHomeWrapper
.GamepadController .ConfirmationPanel
.GamepadController .ConfirmationPanel Button:focus
.GamepadController .CurrentlyPlayedTab:focus
.GamepadController .EnvironmentsTab:focus,
.GamepadController .PowerButton:focus
.GamepadController .ScreenshotThumbContainer:focus .ScreenshotThumb
.GamepadController .ScreenshotsTab:focus,
.GamepadController .SteamDisclaimer
.GamepadController .VRTitleItem:focus
.GamepadController .VRTitleItem:focus .VRTitleImage
.GamepadController .VRTitleItem:focus .VRTitlePopularity
.GamepadController .VRTitleItem:focus Label
.GamepadController.ViewFocus .CommunityHomeWrapper
.HMD_Manufacturer_HTC .HTC_Promotion
.HMD_Manufacturer_HTC .PromoDesc
.HMD_Manufacturer_HTC .PromoImage
.HMD_Manufacturer_HTC .PromoTitle
.HMD_Manufacturer_HTC .Valve_Promotion
.HMD_Manufacturer_HTC .Valve_Promotion:hover
.HMD_Manufacturer_HTC .VivePromoImage
.HTC_Promotion
.HTC_Promotion:hover,
.HiddenDesc
.HiddenIcon
.HiddenLabel
.HideUGC .LoadingSpinnerWrapper
.HideUGC .SelectedUGC_artwork #CommunityContentContainer,
.HideUGC .SelectedUGC_artwork .HiddenDesc
.HideUGC .SelectedUGC_screenshots #CommunityContentContainer,
.HideUGC .SelectedUGC_screenshots .HiddenDesc,
.LargeEnvironmentImage
.LargeEnvironmentItem
.LargeEnvironmentItemTitle
.LaunchAppButton
.LaunchAppImage
.LaunchButton,
.LaunchButtonDisabled
.LaunchButtonDisabled Label
.LaunchConfirmation
.LoadingSpinner
.LoadingSpinnerWrapper
.LoadingSpinnerWrapper,
.MultiPlayerAppPanel
.MultiPlayerAppPanel,
.MultiPlayerLabel
.MultiPlayerLabel,
.NoSteam #CommunityContentContainer,
.NoSteam #EnvironmentsContainer,
.NoSteam #PowerOff,
.NoSteam #PowerOn,
.NoSteam .LoadingSpinnerWrapper,
.NoSteam .SteamDisclaimer,
.NoSteam .SteamVRLogo
.NoSteam .SteamVRNow,
.NoSteam .TitleBar,
.NoSteam .UGCTabs,
.NoSteam.Tutorial .SteamVRLogo
.NoSteam.Tutorial .TutorialState
.PowerButton
.PowerButton:hover,
.PowerIcon
.PromoDesc
.PromoImage
.PromoTitle
.Row1,
.Row2,
.Row3,
.Row4,
.Row5,
.Row6,
.Row7,
.Row8
.ScreenOff .SteamVRLogo,
.ScreenOn #PowerOff,
.ScreenOn #PowerOn,
.ScreenOn .BlackOut,
.ScreenOn .ConfirmationPanel,
.ScreenOn .LoadingSpinnerWrapper,
.ScreenOn .SelectedUGC_artwork #CommunityContentContainer,
.ScreenOn .SelectedUGC_environments #EnvironmentsContainer,
.ScreenOn .SelectedUGC_screenshots #CommunityContentContainer,
.ScreenOn .SteamDisclaimer,
.ScreenOn .SteamVRLogo,
.ScreenOn .SteamVRNowOn .SteamVRNow,
.ScreenOn .SteamVRTitleLogo,
.ScreenOn .TitleBar,
.ScreenOn .TutorialState
.ScreenOn .UGCTabs,
.ScreenshotDesc1
.ScreenshotDesc2
.ScreenshotNumber
.ScreenshotStats
.ScreenshotThumb 
.ScreenshotThumbContainer 
.ScreenshotThumbContainer:hover .ScreenshotThumb,
.ScreenshotsTab,
.ScreenshotsTab:hover,
.SelectedUGC_currentlyplayed .CurrentlyPlayedTab
.SelectedUGC_environments .EnvironmentsTab,
.SelectedUGC_screenshots .ScreenshotsTab,
.ShowDownloadingLabel .DownloadingLabel
.ShowSubscribeButton #SubscribeButton
.ShowVisitButton #VisitButton
.SinglePlayerAppPanel,
.SinglePlayerLabel
.SinglePlayerLabel,
.SteamDisclaimer
.SteamLogo
.SteamLogoLoader
.SteamPlayerDesc1
.SteamPlayerDesc2
.SteamPlayerNumber
.SteamStats
.SteamVRLogo
.SteamVRLogo,
.SteamVRNow
.SteamVRNow,
.SteamVRNowBackground
.SteamVRNowColumns
.SteamVRNowDesc
.SteamVRNowTitle
.SteamVRTitleLogo
.SteamVRTitleLogo,
.SteamVRTitleLogoImage
.StoreButton
.SubscribedCheck .CheckImage
.TabDivider
.TabLabel
.TabText
.TitleBar
.TitleBar,
.TopEnvironments
.Tutorial .CommunityHomeWrapper
.Tutorial .SteamVRLogo,
.Tutorial .TutorialState,
.TutorialState
.TutorialState 
.UGCDesc
.UGCTabs
.UGCTabs,
.UGCTitle
.UGCTitleBar
.VRTitleImage
.VRTitleItem
.VRTitleItem:hover .VRTitleImage,
.VRTitleItem:hover .VRTitlePopularity,
.VRTitleItem:hover Label,
.VRTitleItem:hover,
.VRTitleLabel
.VRTitlePopularity
.VRTitleRight
.VRTitlesContainer
.ValveDialogOn .ValveEnvironmentsWrapper
.ValveEnvironments
.ValveEnvironmentsDialog
.ValveEnvironmentsWrapper
.Valve_Promotion
.Valve_Promotion:hover,
.ViveDialogOn .VivePromoWrapper
.VivePromoDialog
.VivePromoImage
.VivePromoImage,
.VivePromoWrapper
.VivePromoWrapper .CloseDialogButton
.VivePromoWrapper .CloseDialogButton:hover
.VivePromoWrapper .DialogDesc
/*------------------
/*---------------------
//	//background-color: #333333ff;
//	//wash-color: none;
//	border: 0px solid #111111ff;
//	border: 3px solid #ffffffaa;
//   CONFIRMATION PANEL 
//  Announcements panel
//  Environments panel
//  Gamepad = no UGC wall
//  Loading Spinner
//  No Steam State =  .NoSteam
//  Power On / Off
//  Screenshot Stats
//  Screenshots / Artwork
//  Steam Stats Panel
//  SteamVR Now Panel
//  UGC Title Panel
//  Vive Specific Promotion
// FREE APPS COLUMN
// If app is launchable
// Initial community wall announcement dialog
// Old
// SINGLEPLAYER COLUMN
//----------------
//-------------------
//--------------------
//------------------------
//-------------------------
//.LargeEnvironmentItem:hover
//BACKGROUND ROWS TO MAKE THIS PANEL PRETTY
//MULTIPLAYER COLUMN
//Valve Environments dialog
@keyframes 'loading-spinner'
@keyframes 'screenshot-in'
@keyframes 'screenshot-out'
